.medInfo {
  padding: 15px;
  margin: 15px;
  border: 1px solid;
}
a {
  text-decoration: none;
  color: black;
}

.mystlez {
  padding: 15px;
  margin: 15px;
  border: none;
  background: peachpuff;
  transition: 0.3s;
}

.mystlez:hover {
  padding: 20px;
  margin: 10px;
  background: rgb(255, 231, 210);
  transition: 0.3s;
}
